.filterBar {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(30, 30, 30);
    border-radius: 3px;
    flex-grow: 1;
}

.clearButton {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    color: rgb(100, 100, 100);
    padding: 7px 10px;
}

.clearButton:hover {
    color: rgb(200, 200, 200);
}
