.gridContainer {
    width: 100%;
    padding: 10px;
    border: solid darkgrey 1px;
    border-radius: 10px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "name exts exts"
        "path path path"
}

.gridItemPath {
    grid-area: path;
    display: flex;
    align-items: center;
    gap: 8px;
    /* height: 50px; */
}

.gridItemName {
    grid-area: name;
    /* height: 50px; */
}

.gridItemExts {
    grid-area: exts;
    /* height: 50px; */
}

.browse {
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.textField {
    margin: 2px;
}

.label {
    margin: 0;
    padding: 0;
}

.input {
    padding: 1px;
}
