.container {
    padding: 10px;
}

.serverDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
}

.centered {
    display: flex;
    justify-content: center;
}

.access {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vault {
    margin-top: 10px;
}
