.container {
    padding: 10px;
}

.serverDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.access {
    margin-top: 5px;
}

.vault {
    margin-top: 10px;
}

.divider {
    margin: 20px 0px;
}
