.container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* margin: 5px;
    margin-bottom: 55px; */
    /* padding: 10px; */
}

.filterBar {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 0px;
}
