.container {
  margin: 0px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 15px;
  max-height: 60px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.right {
  width: 200px;
  height: 30px;
}
