.container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow: auto; */
    box-sizing: border-box;
}

.tileContainer {
    box-sizing: border-box;
    flex-grow: 1;
}

.layoutHelper {
    flex-grow: 100;
}
