.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.assetContainer {
    /* height: 100px; */
    width: 100%;
    border: solid 1px rgb(80,80,80);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.connector {
    /* border: solid; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.compContainer {
    display: flex;
    gap: 5px;
}
