.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.expand {
    width: 100%;
    height: 100%;
}

.ruleListContainer {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.ruleContainer {
    border: solid 2px rgb(80,80,80);
    border-radius: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px;
    /* position: relative; */
}

.topBar {
    display: flex;
    justify-content: space-around;
}

.connector {
    /* border: solid; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.ruleRow {
    display: flex;
}
