.container {
    border: solid rgb(70, 70, 70) 1px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: clip;
    box-sizing: border-box;
}

.title {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
}

.spacer {
    width: 100%;
}

.details {
    display: flex;
    /* height: 30px; */
    /* justify-content: space-around; */
    align-items: center;
    gap: 5px;
    padding: 5px;
    /* border-top: 1px solid rgb(70, 70, 70); */
    box-sizing: border-box;
}

.detailsText {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.button {
    border: 1px solid rgb(70, 70, 70);
    border-radius: 3px;
    cursor: pointer;
    font-size: 36px;
    padding: 2.5px;
    transition: border-color 0.5s, background-color 0.5s;
}

.unpauseButton {
    border: 1px solid rgb(0, 50, 120);
}

.unpauseButton:hover {
    background-color: rgb(0, 50, 120);
}

.pauseButton {
    border: 1px solid rgb(70, 70, 70);
}

.pauseButton:hover {
    background-color: rgb(70, 70, 70);
}

.retryButton {
    border: 1px solid rgb(120, 120, 0);
}

.retryButton:hover {
    background-color: rgb(120, 120, 0);
}

.killButton {
    border: 1px solid rgb(100, 0, 0);
}

.killButton:hover {
    background-color: rgb(100, 0, 0);
}

.statusIcon {
    font-size: 36px;
}

.topBar {
    /* background-color: rgb(30, 30, 30); */
    height: 10px;
    width: 100%;
    position: relative;
}

/* .progressBar {
    height: 20px;
    position: absolute;
} */

.progressBar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 40, 0);
    box-sizing: border-box;
    border-radius: 3px;
}

.progressBar:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-size: 50px 50px;
    overflow: hidden;
    animation: move 10s linear infinite;
}

.running:after {
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
