.container {
    position: relative;
    /* border: solid blue 2px; */
    display: flex;
    align-items: center;
}

.label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
