.container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.gutterHorizontal {
  background-color: rgb(32, 32, 32);
  width: 1px;
}

.gutterVertical {
  background-color: rgb(32, 32, 32);
  height: 1px;
}

.dragger {
  display: none;
}

.projectTree {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 15px;
  margin: 0px;
}
