.container {
    margin: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

.attributeList {
    box-sizing: border-box;
    height: 100%;
    min-height: 300px;
}
