.container {
    position: relative;
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 5px;
    border: solid 1px;
    border-color: rgb(40, 40, 40);
    border-radius: 5px;
    box-sizing: border-box;
}

.tag {
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tagEdit {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 150, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
