.container {
    display: flex;
    gap: 10px;
}

.resourceBoxContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 36px;
    border-bottom: solid 1px rgb(0,100,0);
    /* border-radius: 5px; */
    overflow: clip;
}

.type {
    z-index: 1;
}

.resourceBoxBackground {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: rgb(0,100,0);
    
}
