.container {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    box-sizing: border-box;
}

.logoContainer {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo {
    display: block;
    /* margin: auto; */
    height: 30px;
}

.leftSide {
    grid-row: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rightSide {
    grid-row: 1;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 5px;
}

.feedbackIcon {
    height: 36px;
    width: 36px;
    background-image: url("../../../public/media/feedback.png");
    background-size: cover;
    background-position: center;
    margin: 0px 5px;
}
