.container {
    /* min-height: 70px;
    max-height: 70px;
    margin: 0px; */
    padding: 5px 10px;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* align-items: center;
    justify-content: space-between; */
    box-sizing: border-box;
}

.logoContainer {
    grid-row: 1;
    display: grid;
    /* width: 50%; */
}

.logo {
    display: block;
    margin: auto;
    height: 40px;
}

.leftSide {
    grid-row: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rightSide {
    grid-row: 1;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 5px;
}
