.dccContainer {
    width: 100%;
    height: 35px;
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: clip;
}

.dccIcon {
    aspect-ratio: 1;
    width: 35px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.label {
    padding-left: 15px;
}
