.container {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.tileContainer {
    /* margin: 10px; */
    padding: 10px;
    display: flex;
    /* height: 100%; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    flex-grow: 4;
}

.skeleton {
    border-radius: 10px;
}
