.container {
    /* border: solid whitesmoke; */
    height: 100%;
    margin: 0px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    overflow: clip;
    box-sizing: border-box;
}

.filterBarContainer {
    width: 50%;
}
