.App {
  /* text-align: center; */
  background-color: rgb(20, 20, 20);
  color: rgb(200, 200, 200);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* overflow-y: auto; */
}

.MuiButtonBase-root {
  max-height: 35px;
}

/* .MuiInputBase-root {
  max-height: 35px;
}

.MuiFormControl-root label {
  top: -11px;
}

.MuiFormControl-root label[data-shrink='true'] {
  top: 0;
}

.MuiTextField-root label {
  top: -11px;
}

.MuiTextField-root label[data-shrink='true'] {
  top: 0;
} */