body {
    margin: 0;
}

h4 {
    margin: 0;
}

.container {
    font-family: Roboto;
    color: lightgrey;
    background-color: rgb(25, 25, 25);
    box-sizing: border-box;
    border: none;
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
.logo {
    background-image: url(media/logo_type.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 150px;
    width: 400px;
}

.loadingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.loadingBarBg {
    width: 50%;
    height: 5px;
    border-radius: 1px;
    background-color: rgb(10, 10, 10);
    position: relative;
    visibility: hidden;
}

.loadingBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 5px;
    border-radius: 1px;
    background-color: rgb(252, 140, 3);
    transition: width 0.5s;
    /* background: linear-gradient(0deg, rgba(212,116,0,1) 0%, rgba(255,172,70,1) 100%); */
}
